@for $i from 8 through 50 {
  .f-#{$i} {
    font-size: #{$i}px !important;
  }
}

@for $i from 51 through 100 {
  .f-#{$i} {
    font-size: #{$i}px !important;
    line-height: #{$i * 1.3 / 16}rem;
  }
}
