$screen-xs-up: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 991px;
$screen-xl: 1200px;

@mixin min-xs {
  @media (min-width: #{$screen-xs-up}) {
    @content;
  }
}

@mixin min-sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

@mixin max-xs {
  @media (max-width: #{$screen-xs-up}) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}
