@mixin placeholder-color($color...) {
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color !important;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color !important;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color !important;
  }
}

@mixin border-radius($number) {
  -webkit-border-radius: $number !important;
  -moz-border-radius: $number !important;
  border-radius: $number !important;
}
