table {
  tr {
    td,
    th {
      font-size: 12px !important;
    }

    &.v-data-table__expanded__content {
      box-shadow: none !important;
      background-color: #f9f9f9 !important;
      border-right: 3px solid var(--v-primary-base) !important;
    }

    &.inactive {
      background-color: #fcfcfc;
      color: #999;

      img,
      .v-image {
        opacity: 0.5;
      }
    }
  }
}

.toasted {
  text-align: center;
  direction: inherit !important;
  max-width: 500px !important;
}

.v-text-field .v-label {
  font-size: 16px;
  overflow: visible !important;
  white-space: normal !important;
  line-height: 20px;
  padding-bottom: 12px;
}

.bg-transparent {
  &,
  &:hover,
  &:focus,
  &.active {
    background-color: transparent !important;
  }

  &:before {
    display: none;
  }
}

.transparent {
  .v-btn--active:hover::before,
  .v-btn--active::before {
    opacity: 0;
  }
}

.v-input {
  input {
    height: 100%;
    padding: 0 !important;
  }

  &.primary--text input {
    @include placeholder-color(#568ad7);
  }

  &.auth-input input {
    @include placeholder-color(#bbd0ef);
  }
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.position-fixed {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

.w-full {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.pointer {
  cursor: pointer;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.shadow-none {
  box-shadow: none !important;
}

.text-justify-center {
  text-align: justify;
  text-align-last: center;

  input {
    text-align: center;
  }
}

.start-0 {
  left: 0;
}

.end-0 {
  right: 0;
}

.right-0 {
  right: 0;
}

.v-application--is-rtl {
  .start-0 {
    right: 0;
    left: auto;
  }

  .end-0 {
    left: 0;

    &:not(.start-0) {
      right: auto;
    }
  }

  .text-start {
    text-align: right !important;
  }

  @media (min-width: 600px) {
    .text-sm-start {
      text-align: right !important;
    }
  }
}
