@import 'media-queries';
@import 'mixins';
@import 'fonts';
@import 'z-index';
@import 'font-size';
@import 'overwrite';

.anjoman {
  font-family: 'anjoman', 'proxima', 'bel', sans-serif;
}

.bel {
  font-family: 'bel', 'proxima', sans-serif;
}

.proxima {
  font-family: 'proxima', 'bel', sans-serif;
}

.v-application--is-rtl {
  .global-radius {
    @include border-radius(110px 0 0 110px);
  }

  @include min-md {
    .extra-space {
      padding-right: 80px;
    }
  }
}

.v-application--is-ltr {
  .global-radius {
    @include border-radius(0 110px 110px 0);
  }

  @include min-md {
    .extra-space {
      padding-left: 80px;
    }
  }
}
