@import 'media-queries';
@import 'mixins';
@import 'fonts';
@import 'z-index';
@import 'font-size';
@import 'overwrite';
@import 'video';
@import 'video-theme';

.anjoman {
  font-family: 'anjoman', 'proxima', 'bel', sans-serif;
}

.bel {
  font-family: 'bel', 'proxima', sans-serif;
}

.proxima {
  font-family: 'proxima', 'bel', sans-serif;
}

.v-application--is-rtl {
  @include min-md {
    .extra-space {
      padding-right: 80px;
    }
  }
}

.v-application--is-ltr {
  @include min-md {
    .extra-space {
      padding-left: 80px;
    }
  }
}
