.video-js {
  width: 100%;
  background-color: white !important;
}

.fill-poster {
  .vjs-poster,
  .vjs-tech {
    object-fit: cover;
  }
}

.video-player {
  .video-js {
    .vjs-poster {
      object-fit: cover;
      background-size: cover !important;
    }

    .vjs-big-play-button {
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 120px;
      height: 120px;
      border: none;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('/images/icons/play-btn.svg');

      &,
      &:hover {
        background-color: transparent !important;
      }

      .vjs-icon-placeholder {
        display: none;
      }
    }

    .vjs-control-bar {
      z-index: 3;
    }
  }
}

@include max-md {
  .video-player .video-js .vjs-big-play-button {
    width: 40px;
    height: 40px;
  }
}
