$font-size-root: 14px;
$label-font-size: 13px;
$input-font-size: 13px;

$btn-letter-spacing: 0;
$tabs-item-letter-spacing: 0;

$font-family: 'proxima', 'anjoman', 'bel', sans-serif;
$body-font-family: 'proxima', 'anjoman', 'bel', sans-serif;
$heading-font-family: 'proxima', 'anjoman', 'bel', sans-serif;

$timeline-dot-small-size: 19px;
$timeline-inner-dot-small-size: 11px;

$shaped-radius: 13px;
$border-radius-root: 13px;
$menu-content-border-radius: 8px;
$skeleton-loader-border-radius: 0px;

$date-picker-table-date-font-weight: 800;
$date-picker-table-font-size: 12px;

$switch-track-inset-opacity: 1;
